.vs/
.dep/
.settings/
Debug/
Release/
*.jdebug
*.jdebug.user
*.jlink
*.emSession
*.tmp
*.bak
*.uvguix.*
*.uvoptx
*.scvd
*.obj
*.log
*.bak
*.tlog/
JLinkSettings.ini
JLinkLog.txt
MDK-ARM/DebugConfig
MDK-ARM/selenite-lite
*.jdebug.user